In [246]:
#Removed colums

In [247]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

from datetime import datetime
import statistics as stat
from scipy.stats.stats import pearsonr

import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import rcParams

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

rcParams['figure.figsize'] = 6, 4
sb.set_style('whitegrid')

In [248]:
data = pd.read_csv('best_five_zipcodes.csv')

## Initial data exploration

In [249]:
data.columns

Index(['Unnamed: 0', 'year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_type',
       'garage_sqft', 'has_pool', 'city', 'zip_code', 'sale_price',
       'Year_levels'],
      dtype='object')

In [250]:
data.describe()

,Unnamed: 0,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,zip_code,sale_price
count,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8099.000000,8.099000e+03
mean,4049.000000,2000.751698,1.502531,3.448821,2.195209,0.525003,2288.066058,2418.102852,526.712434,11097.757131,4.863520e+05
std,2338.124248,12.607344,0.530462,0.998612,0.686494,0.499405,845.970620,939.084904,203.546001,588.225833,3.270866e+05
min,0.000000,1906.000000,0.000000,1.000000,0.000000,0.000000,-2.000000,6.000000,-4.000000,10250.000000,1.264000e+03
25%,2024.500000,1994.000000,1.000000,3.000000,2.000000,0.000000,1648.000000,1733.000000,434.000000,10748.000000,3.528000e+05
50%,4049.000000,2003.000000,1.000000,3.000000,2.000000,1.000000,2149.000000,2271.000000,500.000000,11295.000000,4.284010e+05
75%,6073.500000,2009.000000,2.000000,4.000000,2.000000,1.000000,2812.000000,2956.000000,632.000000,11510.000000,5.165970e+05
max,8098.000000,2017.000000,4.000000,11.000000,8.000000,1.000000,9101.000000,11302.000000,4512.000000,11911.000000,5.670002e+06

In [251]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8099 entries, 0 to 8098
Data columns (total 15 columns):
Unnamed: 0        8099 non-null int64
year_built        8099 non-null int64
stories           8099 non-null int64
num_bedrooms      8099 non-null int64
full_bathrooms    8099 non-null int64
half_bathrooms    8099 non-null int64
livable_sqft      8099 non-null int64
total_sqft        8099 non-null int64
garage_type       8099 non-null object
garage_sqft       8099 non-null int64
has_pool          8099 non-null bool
city              8099 non-null object
zip_code          8099 non-null int64
sale_price        8099 non-null float64
Year_levels       8099 non-null object
dtypes: bool(1), float64(1), int64(10), object(3)
memory usage: 893.8+ KB

In [252]:
data.columns

Index(['Unnamed: 0', 'year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_type',
       'garage_sqft', 'has_pool', 'city', 'zip_code', 'sale_price',
       'Year_levels'],
      dtype='object')

In [253]:
#drop columns
data = data.drop(columns =['Unnamed: 0', 'carport_sqft', 'has_fireplace',
                  'has_central_heating', 'has_central_cooling',
       'house_number', 'street_name', 'unit_number', 'Year_levels'])

KeyError: "['carport_sqft' 'has_fireplace' 'has_central_heating'\n 'has_central_cooling' 'house_number' 'street_name' 'unit_number'] not found in axis"

In [ ]:
data.head()

## Number of houses built over time binned into categorical valuables

In [ ]:
bins = np.linspace(1850,2018, num =11)  #create bins => np.linspace(min,max,numberOfBins)
data["Year_levels"] = pd.cut(data['year_built'],bins,labels= ['1850- 1866','1867-1883','1884-1900','1901-1917','1918-1934',
                                                              '1935-1950','1951-1967','1968-1984','1985-2001','2002-2018'])#divide dataset
data.groupby("Year_levels").size(), bins #show bin sises and bins

In [ ]:
sb.catplot('Year_levels', order=['1850- 1866','1867-1883','1884-1900','1901-1917','1918-1934',
                            '1935-1950','1951-1967','1968-1984','1985-2001','2002-2018'], data= data, kind='count',
          height = 4, aspect =2)

## popularity of houses based on number of bedrooms

In [ ]:
data['num_bedrooms'].value_counts().plot(kind = 'bar')
plt.title('Popularity of Number of bed rooms')
plt.xlabel("No of benrooms in a house")
plt.ylabel('Count of Houses')
sb.despine

## popularity of cities based on number of houses

In [ ]:
data['city'].value_counts().plot(kind = 'bar')
plt.title('Popularity of Cities based on Number of houses')
plt.xlabel("No of House")
plt.ylabel('Cities')
sb.despine

## How are other variables affecting the price. (Correlation between  sell price and other variables).

In [ ]:
#correlation btwn year bilt and house
data['year_built'].corr(data['sale_price'])

In [ ]:
plt.scatter(data.sale_price,data.year_built)
plt.title('Year_built vs Price')
plt.xlabel('PRICE')
plt.ylabel('YEAR BUILT')

In [ ]:
data['full_bathrooms'].corr(data['sale_price']) , min(data['full_bathrooms']), max(data['full_bathrooms'])

In [ ]:
plt.scatter(data.sale_price,data.full_bathrooms)
plt.title('full_bathrooms vs Price')
plt.xlabel('PRICE')
plt.ylabel('BATH ROOMs')

In [ ]:
data['total_sqft'].corr(data['sale_price']) , min(data['total_sqft']), max(data['total_sqft'])

In [ ]:
plt.scatter(data.sale_price,data.total_sqft)
plt.title('total_sqfts vs Price')
plt.xlabel('PRICE')
plt.ylabel('TOTAl SQRFT')

In [ ]:
plt.scatter(data.sale_price,data.zip_code)
plt.title('Zipcode vs Price')
plt.xlabel('PRICE')
plt.ylabel('ZIPCODE')

In [ ]:
data['half_bathrooms'].corr(data['sale_price']) , min(data['half_bathrooms']), max(data['half_bathrooms'])

In [ ]:
data['num_bedrooms'].corr(data['sale_price']) , min(data['num_bedrooms']), max(data['num_bedrooms'])

In [ ]:
plt.scatter(data.sale_price,data.num_bedrooms)
plt.title('num_bedrooms vs Price')
plt.xlabel('PRICE')
plt.ylabel('num_bedrooms')

In [ ]:
#data['carport_sqft'].corr(data['sale_price']) , min(data['carport_sqft']), max(data['carport_sqft'])

plt.scatter(data.sale_price,data.has_fireplace)
plt.title('hcarport_sqft vs Price')
plt.xlabel('PRICE')
plt.ylabel('carport_sqft')

data['has_fireplace'].corr(data['sale_price']) , min(data['has_fireplace']), max(data['has_fireplace'])

plt.scatter(data.sale_price,data.has_fireplace)
plt.title('has_fireplace vs Price')
plt.xlabel('PRICE')
plt.ylabel('has_fireplace')

In [ ]:
data['has_pool'].corr(data['sale_price']) , min(data['has_pool']), max(data['has_pool'])

In [ ]:
plt.scatter(data.sale_price,data.has_pool)
plt.title('has_pool vs Price')
plt.xlabel('PRICE')
plt.ylabel('has_pool')

data['has_central_heating'].corr(data['sale_price']) , min(data['has_central_heating']), max(data['has_central_heating'])

data['has_central_cooling'].corr(data['sale_price']) , min(data['has_central_cooling']), max(data['has_central_cooling'])

## Mnnnnn I got some negative values

In [ ]:
data['garage_sqft'].corr(data['sale_price']) , min(data['garage_sqft']), max(data['garage_sqft'])

In [ ]:
plt.scatter(data.sale_price,data.garage_sqft)
plt.title('garage_sqft vs Price')
plt.xlabel('PRICE')
plt.ylabel('garage_sqft')

In [ ]:
data['livable_sqft'].corr(data['sale_price']) , min(data['livable_sqft']), max(data['livable_sqft'])

In [ ]:
plt.scatter(data.sale_price,data.livable_sqft)
plt.title('livable_sqft vs Price')
plt.xlabel('PRICE')
plt.ylabel('livable_sqft')

In [ ]:
len(data[data['garage_sqft']< 0]) # negative values

In [ ]:
data[data['garage_sqft']< 0]

In [ ]:
data[data['livable_sqft']< 0]

In [ ]:
oldyear = data[data['year_built'] < 2000].groupby('year_built').size()
oldyear.sort_values(ascending = False).head()

In [ ]:
year = data[data['year_built'] >= 2000].groupby('year_built').size()
year.head()

In [ ]:
data.groupby('city').size().sort_values(ascending = False).head()

## Data Wrangling
change garage type to 
### Replace categorical data with one-hot encoded data
data = pd.get_dummies(data, columns=['garage_type', 'city']

In [ ]:
d = pd.get_dummies(data, columns=['garage_type', 'city','zip_code'])
d.columns

In [ ]:
d.head()

In [ ]:
data.groupby('zip_code').size().sort_values(ascending = False).head()

In [ ]:
selected_zip_codes = data[data['zip_code'].isin ([10250,11295 ,11510,10748,11911])]
selected_zip_codes.shape

In [ ]:
selected_zip_codes.to_csv('best_five_zipcodes.csv')
selected_zip_codes.head()

In [ ]:
#drop cols not needed
d = d.drop('Year_levels',axis= 1)

In [ ]:
#d_new.shape

## THE ML MODEL

In [ ]:
#call the regresson function and save in variable called reg
reg= LinearRegression()
#create x and y arrays
X = d.drop('sale_price',axis =1)
Y = d['sale_price']

In [ ]:
#create Arrays for x and y
x = X.values
y = Y.values
y,x

In [ ]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size =.2, random_state = 0)

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
reg.score(X_test,y_test)

## MY model pridiction is very low so i have to use gradient Boasting

In [ ]:
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
from sklearn.externals import joblib

In [ ]:
model2 = ensemble.GradientBoostingRegressor(
    n_estimators=400,
    learning_rate=0.1,
    max_depth=5,
    min_samples_leaf=2,
    loss='ls'
)

In [ ]:
model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate=0.1,
    max_depth=6,
    min_samples_leaf=9,
    max_features=0.1,
    loss='huber'
)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
model2.fit(X_train, y_train)

In [ ]:
model.score(X_test ,y_test)

In [ ]:
model2.score(X_test ,y_test)

In [ ]:
# Save the trained model to a file so we can use it in other programs
joblib.dump(model, 'trained_house_classifier_model.pkl')

# Find the error rate on the training set
mse = mean_absolute_error(y_train, model.predict(X_train))
print("Training Set Mean Absolute Error: %.4f" % mse)

# Find the error rate on the test set
mse = mean_absolute_error(y_test, model.predict(X_test))
print("Test Set Mean Absolute Error: %.4f" % mse)